body{
  margin: 0 auto;
  font-size: 12px;
  width: 960px;
  height: auto;
  color: #434343;
}

div{
  display: block;
  margin: 0;
  padding: 0;
}

a{
  color: #434343;
  text-decoration: none;
}

fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

li{
  list-style: none;
}
ul{
  margin:  0;
}

#header_wrap{
  width: 100%;
}

#header{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  text-align: left;
}


#snb_wrap{
  height: 37px;
  padding: 10px 0 8px;
  overflow: hidden;
}

#header h1{
  position: relative;
  margin: 0;
  z-index: 200;
  float: left;
  padding: 7px 30px 0 0;
}


#header h1 .Ntxt_naver{
  float: left;
  width: 53px;
  height: 10px;
  font-size: 10px;
  background-position: 0 -170px;
  background: url("title.png");
  margin-top: 6px;
}

#header h1 .Ntxt_comic{
  float: left;
  width: 40px;
  height: 21px;
  font-size: 21px;
  background-position: -65px -170px;
  margin-left: 7px;
}

#header h1 .bar{
  float: left;
  overflow: hidden;
  width: 1px;
  height: 13px;
  margin: 6px 10px 0 8px;
  background-color: #d2d2d2;
  line-height: 999px;
  vertical-align: top;
}

#header h1 .Ntxt_novel{
  float: left;
  color: #767676;
  width: 40px;
  height: 15px;
  font-size: 15px;
  background-position: -120px -170px;
  margin-top: 3px;
}

#gnb{
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-right: 14px;
}

#gnb button{
  margin-top: 1px;
}

#gnb ul li{
  float: left;
  margin-left: 20px
}
#snb_wrap .ph{
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  line-height: 35px;
  color: #737373;
}

#snb_wrap .snb_search_box{
  float: left;
  position: relative;
  z-index: 50;
  width: 200px;
  height: 35px;
  line-height: 35px;
  padding: 0 35px 0 10px;
  border: 1px solid #e5e5e5;
}

#snb_wrap .snb_search_box .Nico_search{
  width: 17px;
  height: 17px;
  background-position: -220px 0;
}

#snb_wrap .snb_search_box .snb_search_text{
  width: 100%;
  border: 0;
  color: #737373;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

#snb_wrap .snb_search_box .btn_search{
  position: absolute;
  top: 0;
  right: 0;
  margin: 9px;
  width: 16px;
  height: 16px;
  border: 0;
  background: 0;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  cursor: pointer;
  padding: 8px;
  background-image: url("magnifying-glass.png");
}


.notice_info{
  overflow: hidden;
  position: absolute;
  top: 56px;
  right: 16px;
  height: 40px;
}

.notice_info .notice_rolling{
  display: inline-block;
  max-width: 330px;
  overflow: hidden;
  height: 100%;
}


.notice_info .notice_rolling li{
  position: relative;
  margin-top: 12px;
  margin-bottom: 12px;
}

#header_wrap #menu{
  clear: both;
  height: 39px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  padding: 0 10px;
}

#header_wrap #menu ul{
  padding: 0;
}

#header_wrap #menu ul.menu{
  width: 100%;
  margin: 0 auto;
}

#header_wrap #menu ul.menu li{
  float: left;
  position: relative;
}

#header_wrap #menu ul.menu li a{
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: bold;
}

#header_wrap #menu ul.menu li.current{
  background: #00d564;
  margin: -1px 0;
}

#header_wrap #menu ul.menu .current .Ntxt_home{
  width: 13px;
  height: 14px;
  color: #FFFFFF;
  background-position: 0 0;
  margin-top: 13px;
}

#header_wrap #menu ul.menu .Ntxt_webtoon{
  width: 24px;
  height: 13px;
  font-size: 13px;
  background-position: -20px 0;
  margin-top: 13px;
}

#header_wrap #menu ul.menu .Ntxt_best_challenge{
  width: 62px;
  height: 13px;
  background-position: -50px 0;
  margin-top: 13px;
}

#header_wrap #menu ul.menu .Ntxt_challenge_comic{
  width: 49px;
  height: 13px;
  background-position: -120px 0;
  margin-top: 13px;
}

#header_wrap #menu ul.menu .Ntxt_mypage{
  width: 60px;
  height: 13px;
  background-position: -180px 0;
  margin-top: 13px;
}

#header_wrap #menu ul.menu .bar{
  display: inline-block;
  width: 1px;
  height: 13px;
  background: #ced2d6;
  vertical-align: top;
  margin-top: 14px;
}

#header_wrap #menu ul.menu .Ntxt_short_story{
  width: 43px;
  height: 13px;
  color: #787878;
  background-position: 0 -40px;
  margin-top: 13px;
}

#header_wrap #menu ul.menu .Ntxt_genre_novel{
  width: 48px;
  height: 14px;
  color: #787878;
  background-position: -75px -40px;
  margin-top: 13px;
}


.mainTopArea{
  position: relative;
  width: 960px;
  height: 252px;
  margin: 0 auto;
  padding: 12px 10px 14px;
}

.main_spot{
  float: left;
  position: relative;
}

.data_area{
  float: left;
  position: relative;
  width: 91px;
  height: 250px;
  padding: 0 5px 0 15px;
  border: 1px solid #e5e5e5;
  border-right: 0;
}

.data_area .Ntxt_today_webtoon{
  width: 79px;
  height: 61px;
  font-size: 28px;
  background-position: 0 -100px;
  margin-top: 20px;
}

.data_area h2{
  margin: 0;
  padding: 0;
}

.data_area p{
  margin: 0;
  padding: 0;
}

.data_area .date{
  margin-top: 13px;
  letter-spacing: -0.5px;
  color: #808285;
}

.data_area #listMenu{
  padding-left: 0;
}

.data_area ul{
  margin-top: 75px;
}

.data_area li a{
  display: block;
  height: 20px;
}

li .Ntxt_update{
  width: 54px;
  height: 12px;
  background-position: 0 -80px;
}

li .Ntxt_count{
  width: 37px;
  height: 12px;
  background-position: -65px -80px;
}

li .Ntxt_star_rate{
  width: 37px;
  height: 12px;
  background-position: -110px -80px;
}

.webtoon_area{
  float: left;
  width: 582px;
  height: 195px;
}

.webtoon_area a{
  display: block;
  height: 195px;
}

.webtoon_list{
  position: relative;
  top: 0;
  left: 0;
  height: 56px;
  padding: 0 20px 0 19px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.webtoon_list .lst_area{
  float: left;
  width: 541px;
  height: 57px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.webtoon_list .lst_area ul{
  margin: 0;
  padding: 0;
  height: 57px;
}

.webtoon_list .lst_area li{
  float: left;
  margin: 0;
  padding: 0;
  width: 134px;
  height: 57px;
  border-left: 1px solid #e5e5e5;
}

.webtoon_list .lst_area li.sel .sel_bar{
  position: absolute;
  z-index: 10;
  left: -1px;
  bottom: 0;
  width: 136px;
  height: 2px;
  background: #222;
}

.webtoon_list a{
  position: absolute;
  height: 57px;
}

.webtoon_list .btn_prev{
  left: 0;
  padding-top: 23px;
  width: 19px;
  height: 34px;
}

.webtoon_list .btn_prev_arr{
  margin-left: 6px;
  color: #d0d0d0;
}

.webtoon_list .btn_next{
  left: 562px;
  padding-top: 23px;
  width: 20px;
  height: 34px;
}

.webtoon_list .btn_next_arr{
  margin-left: 7px;
  color: #d0d0d0;
  background-position: -106px, -240px;
}

.todayChallenge{
  float: left;
  width: 202px;
  height: 250px;
  padding: 0 18px;
  background: #f9f9fc;
  border: 1px solid #ebebeb;
  margin-left: 26px;
}

.todayChallenge .Ntxt_new_best{
  width: 148px;
  height: 16px;
  font-size: 16px;
  background-position: -240px -100px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-right: 0;
}

.todayChallenge .best_photo{
  position: relative;
  height: 110px;
  margin-top: 11px;
  border: 1px solid #e5e5e5;
}

.todayChallenge dl{
  display: block;
  margin-top: 18px;
}

.todayChallenge dt{
  position: relative;
  padding-right: 62px;
  height: 18px;
  color: #434343;
  font-weight: bold;
}

.todayChallenge dt .challenge_title{
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  color: #000;
  height: 16px;
}

.todayChallenge dt span{
  width: 55px;
  font-weight: normal;
  color: #a3a3a3;
  position: absolute;
  right: 0;
  top: 2px;
  text-align: right;
  opacity: .85;
}

.todayChallenge dt .challenge_id{
  color: #414141;
}

.todayChallenge dd{
  letter-spacing: -1px;
  margin-top: 3px;
  margin-left: 0;
  margin-right: 0;
  line-height: 18px;
}

.todayChallenge dd a{
  color: #848889;
  word-break: break-all;
  word-wrap: break-word;
}

#container{
  clear: both;
  position: relative;
  width: 980px;
  height: 1498px;
  min-height: 100%;
  padding: 8px 0 100px;
  margin: 0 auto;
}

#content{
  float: left;
  position: relative;
  width: 694px;
  padding-left: 10px;
}

.genreRecomBox{
  overflow: hidden;
}

ul.genreRecom>li{
  float: left;
  padding: 0 10px;
  width: 218px;
}

.genreRecomBox h3.titleMain{
  margin: 0;
  font-size: 16px;
  border-bottom: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 694px;
  height: 16px;
}

.genreRecomBox h3 .titleMain .Ntxt_genre_webtoon{
  font-size: 16px;
  width: 112px;
  height: 16px;
  background-position: -110px -100px;
}


.tab_gr{
  margin-top: 12px;
}

.tab_gr ul{
  border-bottom: 1px solid #e5e5e5;
  height: 22px;
  margin: 0;
  padding: 0;
}

.tab_gr ul li:first-child{
  padding-left: 0;
}

.tab_gr ul li{
  float: left;
  padding: 0 6px;
}

.tab_gr ul li a{
  display: inline-block;
  font-size: 13px;
  color: #737373;
  padding: 0 2px 6px;
}

.tab_gr ul li.on a{
  font-weight: bold;
  color: #00c85e;
  border-bottom: 2px solid #00d564;
  margin-bottom: -1px;
}

.view_type{
  overflow: hidden;
  height: 15px;
  margin: 12px 0;
}

.view_type .sortby{
  margin-top: 3px;
  margin-bottom: 0;
  padding: 0;
  width: 140px;
  float: right;
}

.sortby li{
  float: left;
  margin-left: 6px;
  font-size: 12px;
}

.sortby li:first-child {
  margin-left: 0;
}

.sortby li a{
  display: block;
  height: 12px;
  color: #434343;
}

li.sel{
  font-weight: 600;
}

li.sel .Ntxt_update{
  background-position: 0 -60px;
  width: 54px;
  height: 12px;
}

li .Ntxt_count{
  width: 37px;
  height: 12px;
  background-position: -65px -80px;
}

li .Ntxt_star_rate{
  width: 37px;
  height: 12px;
  background-position: -110px -80px;
}

ul.genreRecom{
  overflow: hidden;
  margin: 0 -10px;
  padding-left: 0;
  padding-bottom: 17px;
}

ul.genreRecom li{
  width: 218px;
  height: 196px;
}

.genreRecomBox p{
  padding: 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.genreRecomImg2{
  position: relative;
  height: 120px;
}

.genreRecomImg2 .mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #000;
  opacity: .1;
}

.genreRecomInfo2{
  position: relative;
  margin-top: 11px;
  width: 218px;
  height: 55px;
}

.genreRecomInfo2 div{
  margin: 0;
  padding: 0;
}

.genreRecomInfo2 h6{
  color: #434343;
  font-size: 12px;
}

.genreRecomInfo2 h6.title{
  margin: 0;
  font-size: 12px;
}

.genreRecomInfo2 h6.title a{
  display: block;
  overflow: hidden;
  color: #323232;
}

.genreRecomInfo2 h6.title a span{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.genreRecomInfo2 .user{
  color: #767676;
}

.genreRecomBox_area{
  overflow: hidden;
}

h3.titleMain{
  position: relative;
  padding: 26px 0 10px;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 0;
  margin-bottom: 0;
}

h3.titleMain .Ntxt_best{
  width: 170px;
  height: 16px;
  background-position: -110px -120px;
}

.genreRecomBox_area ul.genreRecom{
  padding-bottom: 33px;
  width: 714px;
  height: 379px;
}

.genreRecomBox_area ul.genreRecom>li{
  float: left;
  padding: 0 10px;
  width: 218px;
  height: 346px;
}

.genreRecomBox_area ul.genreRecom h4{
  font-size: 13px;
  color: #555;
  margin-top: 14px;
  margin-bottom: 0;
}

ul.genreRecomList{
  overflow: hidden;
  margin-top: 7px;
  width: 218px;
  height: 340px;
  padding: 0;
}

ul.genreRecomList li{
  position: relative;
  margin-top: 20px;
  width: 218px;
  height: 90px;
}

ul.genreRecomList li:first-child{
  margin-top: 0;
}

.genreRecomImg{
  float:left;
  position: relative;
}

.genreRecomImg .mask{
  position: absolute;
  width: 82px;
  height: 89px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #000;
  opacity: .1;
}

.genreRecomInfo{
  float: left;
  overflow: hidden;
  width: 127px;
  margin-left: 7px;
}

.genreRecomInfo h6.title{
  margin: 1px 0;
  font-size: 13px;
  word-wrap: break-all;
}

.genreRecomInfo h6.title a{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.genreRecomInfo a.user{
  color: #767676;
  font-size: 11px;
  letter-spacing: -1px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.genreRecomInfo .summary{
  height: 32px;
  margin: 10px 0 7px 0;
  color: #434343;
  line-height: 16px;
  word-break: break-all;
}

.genreRecomInfo .rating_type{
  margin-top: -3px;
  height: 15px;
}

.rating_type .star{
  width: 60px!important;
  height: 14px!important;
}

.rating_type strong{
  display: inline-block;
  margin-left: 3px;
  margin-top: -6px;
  font-size: 12px;
  color: #606060;
  vertical-align: middle;
}


h4.subtlt3{
  font-size: 13px;
  color: #555;
  height: 16px;
  margin-top: 14px;
}

#updateCompositionContent .genreRecom>li{
  float: left;
  padding: 0 10px;
  width: 218px;
  height: 257px;
}

#updateCompositionContent ul.genreRecomList{
  overflow: hidden;
  margin-top: 7px;
  height: 220px;
}

#updateCompositionContent ul.genreRecomList li{
  width: 218px;
  height: 100px;
}

.genreRecomImg3{
  float: left;
  width: 80px;
  height: 100px;
}

.genreRecomImg3 a{
  display: block;
  height: 100px;
}

.genreRecomInfo3{
  overflow: hidden;
  float: left;
  width: 121px;
  height: 90px;
  margin: 1px 0 0 10px;
  padding-top: 2px;
}

.genreRecomInfo3 h6.title{
  margin-top: 0;
  overflow: hidden;
  font-size: 12px;
  margin-bottom: 1px;
  padding-bottom: 4px;
  letter-spacing: -1px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.genreRecomInfo3 .user{
  color: #767676;
}

.genreRecomInfo3 .summary{
  height: 32px;
  margin: 8px 0 3px;
  line-height: 15px;
  color: #434343;
  letter-spacing: -1px;
  word-break: break-all;
}

.genreRecomInfo3 .summary a{
  color: #434343;
  line-height: 15px;
}

.genreRecomInfo .rating_type{
  margin-top: -2px;
}



#aside{
  float: right;
  width: 240px;
  padding-right: 10px;
}

#aside div:first-child{
  margin-top: 0;
  clear: both;
}

#aside div{
  margin-top: 8px;
  clear: both;
}

#aside iframe{
  width: 240px;
  height: 240px;
  border: 0;
  vertical-align: top;
}

.asideButonupload{
  border: 0;
  height: 42px;
}

.asideRollng{
  position: relative;
}

.asideBox{
  overflow: hidden;
  position: relative;
  border: 1px solid #e1e1e1;
}

#aside .asideBox div{
  margin: 0;
}

h4.asideBoxTitle{
  position: relative;
  width: 238px;
  height: 30px;
  border-bottom: 1px solid #e1e1e1;
  margin: 0;
}

h4.asideBoxTitle img{
  margin: 9px 0 0 12px;
}

h4.asideBoxTitle a img{
  float: right;
  margin: 6px 6px 0 0;
}

ul.asideBoxTab{
  padding: 0 0 0 0;
  margin: 0;
  float: none;
  width: 238px;
  height: 31px;
  *zoom: 1;
}

ul.asideBoxTab li.choice{
  border-bottom: 0;
}

ul.asideBoxTab li{
  float: left;
  width: 119px;
  height: 30px;
  margin-left: -1px;
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
}

ul.asideBoxTab li img{
  margin-top: 9px;
}


#top ol.asideBoxRank{
  margin: 0;
  position: relative;
  padding: 15px 0 7px;
  width: 238px;
  height: 210px;
  zoom: 1;
  list-style: decimal;
  background: url("ranking.png");
}

#top ol.asideBoxRank li{
  overflow: hidden;
  position: relative;
  margin: 0 0 6.3px 13px;
  padding: 0 55px 0 19px;
  _padding-right: 0;
  zoom: 1;
  list-style: decimal;
}

#down ol.asideBoxRank2{
  margin: 0;
  position: relative;
  padding: 15px 0 7px;
  width: 238px;
  height: 188px;
  zoom: 1;
  list-style: decimal;
  background: url("ranking2.png");
}

ol.asideBoxRank2 li .rc_info{
  float: left;
  width: 110px;
  height: 30px;
  padding: 2px 0 5.4px 74px;
  line-height: 15px;
}

ol.asideBoxRank2 li .rc_info .tit{
  display: block;
  overflow: hidden;
  color: #434343;
  height: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ol.asideBoxRank2 li .rc_info em{
  display: block;
  height: 15px;
  font-size: 11px;
  color: #767676;
  font-style: normal;
}

.asideBox .asideBoxNotice{
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 5px;
  padding-right: 0;
}


.asideBoxNotice li{
  overflow: hidden;
  height: 14px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 6px;
  padding-left: 7px;
}

.asideBoxNotice li a{
  display: block;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.blind{
  overflow: hidden;
  position: absolute;
  margin: -1px;
  font-size: 11px;
}

.asideBoxMore{
  position: absolute;
  width: 31px;
  height: 13px;
  top: 12px;
  right: 11px;
  padding-left: 7px;
  font-size: 11px;
  color: rgb(118, 118, 118);
}

.asideButton{
  border-width: 1px;
  border-style: solid;
  border-color: rgb(225, 225, 225);
  border-image: initial;
}

.asideButton .btn_faq{
  display: block;
  height: 32px;
  vertical-align: top;
}

#footer{
  width: 100%;
  clear: both;
  margin: 0px auto;
  padding: 40px 10px 78px;
  border-top: 1px solid rgb(230, 231, 232);
}

#footer .naver_corp_info{
  float: left;
  width: 490px;
  height: 41px;
}

#footer *{
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  color: rgb(51, 49, 50);
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#footer .privacy{
  font-weight: bold;
}

#footer ul{
  height: 14px;
}

#footer ul li:first-child{
  padding-left: 0;
  text-decoration: none;
}

#footer ul li:first-child::before{
  width: 0;
  height: 0;
}

#footer ul li{
  position: relative;
  float: left;
  font-size: 14px;
  padding: 0px 8px 0px 9px;
}

#footer ul li:before{
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 1px;
  height: 11px;
  background: #d9d9d9;
}

#footer ul li a{
  color: rgb(51, 49, 50);
}

#footer address{
  margin-top: 13px;
  height: 14px;
}

#footer a{
  color: #333132;
  text-decoration: none;
}

#footer .webtoon_corp_info{
  float: left;
  position: relative;
  width: 415px;
  padding-left: 26px;
}

#footer .webtoon_corp_info:before{
  content: '';
  position: absolute;
  width: 1px;
  height: 39px;
  top: 0;
  left: 0;
  background: #e5e5e5;
}

#footer .webtoon_corp_link{
  display: inline-block;
  width: 84px;
  height: 9px;
  vertical-align: top;
}

.blind{
  overflow: hidden;
  position: absolute;
  clip: rect(0,0,0,0);
  width: 1px;
  height: 1px;
}

#footer .copyright_law{
  clear: both;
  padding-top: 32px;
  color: #8a8c8e;
}
